<div class="limiter">


		<div class="container-login100" style="background-image: url('../../assets/images/1009.jpg')">

   <div><img  src="../../assets/images/logo.png" alt="Paris" class="center " ></div>

<div class="row" style="margin-left: 250px">
	<div class="col-sm-6" >
		


				<button class="logintop-form-btn" >
					LOGIN
				</button>


		

		<div class="wrap-login100 " id="login" >
			<form class="login100-form validate-form" #f="ngForm">




				<div class="wrap-input100 validate-input" data-validate = "Enter username">
					<input class="input100" type="text" id="user" name="username" placeholder="Username" ngModel>
					<span class="focus-input100" data-placeholder="&#xf207;"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Enter password">
					<input class="input100" type="password" id="pass"name="password" placeholder="Password" ngModel>
					<span class="focus-input100" data-placeholder="&#xf191;"></span>
				</div>

				<div class="contact100-form-checkbox">
					<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
					<label class="label-checkbox100" for="ckb1">
						Remember me
						<a class="txt1" href="#" style="margin-left: 40px">
							Forgot Password?
						</a>
					</label>

				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit" (click)="login(f)">
						Login
					</button>
				</div>

				<div class="text-center p-t-90">
					<p class="txt1" >
						Login With ...
					</p>
					<a class="txt1" style="margin-right: auto"><i class="fa fa-facebook-square" style="font-size:18px;color:white"></i></a>
					<a class="txt1" style="margin-right: auto"><i class="fa fa-google" style="font-size:18px;color:white"></i></a>
				</div>
			</form>
		</div>
	</div>
    <div class="col-sm-6">
			<div class="Log-head">


					<button class="logintop-form-btn" data-toggle="collapse" href="#collapseExample">
						SIGNUP
					</button>


  		</div>

			<div class="wrap-login100 collapse" id="collapseExample">
				<form class="login100-form validate-form">




					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter userType">
						<input class="input100" type="text" name="userType" placeholder="Usertype">
						<span class="focus-input100" data-placeholder="&#xf129;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Confirme password">
						<input class="input100" type="password" name="pass" placeholder="Confirme Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>



					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Register
						</button>
					</div>

					<div class="text-center p-t-90">
						<p class="txt1" >
							Login With ...
						</p>
						<a class="txt1" style="margin-right: auto"><i class="fa fa-facebook-square" style="font-size:18px;color:white"></i></a>
						<a class="txt1" style="margin-right: auto"><i class="fa fa-google" style="font-size:18px;color:white"></i></a>
					</div>
				</form>
			</div>
		</div>
		</div>
		</div>
  </div>
  <div id="dropDownSelect1"></div>