<div class="container">
  <form action="questionario">
    <div class="row">
      <p> 1- Rientri a casa dopo un week-end al mare. Cosa fai per prima cosa?</p>
    </div>
    <div class="row">
      <div class="col-3">
        <input type="radio" name="domandaUno" value="domandaUnoOpzioneUno"> Accendi il computer<br>
      </div>
      <div class="col-3">
        <input type="radio" name="domandaUno" value="domandaUnoOpzioneDue"> Decidi di fare sport<br>
      </div>
      <div class="col-3">
        <input type="radio" name="domandaUno" value="domandaUnoOpzioneTre"> Crei una cena con i pochi ingredienti a disposizione<br>
      </div>
      <div class="col-3">
        <input type="radio" name="domandaUno" value="domandaUnoOpzioneQuattro"> Leggi un libro<br>
      </div>
    </div>
    <hr>
    <div class="row">
      <p> 2- La mattina al risveglio vorresti...</p>
    </div>
    <div class="row">
      <div class="col-3">
        <input type="radio" name="domandaDue" value="domandaDueOpzioneUno"> Andare al mercato e comprare i migliori prodotti di stagione<br>
      </div>
      <div class="col-3">
        <input type="radio" name="domandaDue" value="domandaDueOpzioneDue"> Controllare la tua email e organizzare al meglio la tua giornata<br>
      </div>
      <div class="col-3">
        <input type="radio" name="domandaDue" value="domandaDueOpzioneTre"> Aggiornarti sugli ultimi avvenimenti<br>
      </div>
      <div class="col-3">
        <input type="radio" name="domandaDue" value="domandaDueOpzioneQuattro"> Fare una colazione salutare prima di fare jogging<br>
      </div>
    </div>
    <hr>
    <div class="row">
      <p> 3- Ti definiresti una persona...</p>
    </div>
    <div class="row">
      <div class="col-3">
        <input type="radio" name="domandaTre" value="domandaTreOpzioneUno"> Paziente e Stimolante<br>
      </div>
      <div class="col-3">
        <input type="radio" name="domandaTre" value="domandaTreOpzioneDue"> Esuberante e Determinata<br>
      </div>
      <div class="col-3">
        <input type="radio" name="domandaTre" value="domandaTreOpzioneTre"> Creativa e Altruista<br>
      </div>
      <div class="col-3">
        <input type="radio" name="domandaTre" value="domandaTreOpzioneQuattro"> Schematica e Riflessiva<br>
      </div>
    </div>
    <hr>
    <div class="row">
      <p> 4- Orario di lavoro preferito</p>
    </div>
    <div class="row">
      <div class="col-3">
        <input type="radio" name="domandaQuattro" value="domandaQuattroOpzioneUno"> Part-Time<br>
      </div>
      <div class="col-3">
        <input type="radio" name="domandaQuattro" value="domandaQuattroOpzioneDue"> Su turni<br>
      </div>
      <div class="col-3">
        <input type="radio" name="domandaQuattro" value="domandaQuattroOpzioneTre"> Full-Time<br>
      </div>
      <div class="col-3">
        <input type="radio" name="domandaQuattro" value="domandaQuattroOpzioneQuattro"> Flessibile<br>
      </div>
    </div>
    <hr>
    <div class="row">
      <p> 5- Disponibilità al trasferimento</p>
    </div>
    <div class="row">
      <div class="col-6">
        <input type="radio" name="domandaCinque" value="domandaCinqueOpzioneUno"> Si<br>
      </div>
      <div class="col-6">
        <input type="radio" name="domandaCinque" value="domandaCinqueOpzioneDue"> No<br>
      </div>
    </div>
    <hr>
    <div class="row">
      <p> 6- Sei più predisposto al...</p>
    </div>
    <div class="row">
      <div class="col-6">
        <input type="radio" name="domandaSei" value="domandaSeiOpzioneUno"> Lavoro individuale<br>
      </div>
      <div class="col-6">
        <input type="radio" name="domandaSei" value="domandaSeiOpzioneDue"> Lavoro di gruppo<br>
      </div>
    </div>
    <hr>
    <div class="row">
      <p> 7- Come ti vedi tra 10 anni?</p>
    </div>
    <div class="row">
      <div class="col-3">
        <input type="radio" name="domandaSette" value="domandaSetteOpzioneUno"> Chef stellato<br>
      </div>
      <div class="col-3">
        <input type="radio" name="domandaSette" value="domandaSetteOpzioneDue"> Leader di un team<br>
      </div>
      <div class="col-3">  
        <input type="radio" name="domandaSette" value="domandaSetteOpzioneTre"> Vincitore di molti premi<br>
      </div>
      <div class="col-3">  
        <input type="radio" name="domandaSette" value="domandaSetteOpzioneQuattro"> Direttore ed esempio per i giovani<br>
      </div>
      </div>
    <hr>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>