*{
    text-align: center;
}

/*Tables*/
table {
	border-collapse: collapse;
	width: 70%;
	float: left;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

th, td {
	width:20px;
	text-align: center;
	padding: 2px;
}

td{
    font-size: 15px;
}


tr:nth-child(even) {
	background-color: #d2f4f5;
}
tr {
	background-color: #d2f5f0;
}

th {
	background-color: rgba(19, 129, 87, 0.938);
	color: #ffffff;
}

a:hover {
	color: #999999;
}

input, select{
    background-color: inherit;
    font-size: inherit;
}

input:hover,  input:active, input:focus{
    border: 2px solid rgb(20, 180, 220);
}

button:hover{
    background-color: rgb(20, 107, 220);
}
.bottoni{
	background-color:rgba(19, 129, 87, 0.938);
}